<div class="row">
    <div class="col-12">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" required email class="form-control" ngModel/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required class="form-control" ngModel minlength="6"/>
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign-Up' }}</button>
                <button class="btn btn-primary" (click)="onSwitchMode()" type="button">{{ isLoginMode ? 'Sign Up' : 'Switch to Login'}}</button>
            </div>
        </form>
    </div>
</div>